/*GRID - HOW IT WORKS*/

.wrapperDoc {
    background-color: #ddd;
    overflow: hidden;
    padding: 10px;
}

.rowDoc {
    background-color: #fff;
    overflow: hidden;
    padding: 10px;
}

.colDoc {
    background-color: rgba(0, 162, 108, 0.5);
    padding: 10px;
}

.rcsColor {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
}

.m-screen,
.l-screen,
.xl-screen {
    display: none;

}

@media (min-width: 750px) {
    .rcsColor {
        background-color: rgba(255, 255, 0, 0.5);
    }
    .m-screen {
        display: block;
    }
    .s-screen,
    .l-screen,
    .xl-screen {
        display: none;

    }
}

@media (min-width: 970px) {
    .rcsColor {
        background-color: rgba(0, 255, 0, 0.5);
    }
    .l-screen {
        display: block;
    }
    .s-screen,
    .m-screen,
    .xl-screen {
        display: none;

    }
}

@media (min-width: 1170px) {
    .rcsColor {
        background-color: rgba(0, 255, 255, 0.5);
    }
    .xl-screen {
        display: block;
    }
    .s-screen,
    .m-screen,
    .l-screen {
        display: none;

    }
}

/*TWELVE COL GRID*/

.twelveGrid {
    color: white;
}

.m-one.colBGColor,
.m-seven.colBGColor {
    background-color: #39B54A;
}

.m-two.colBGColor,
.m-eight.colBGColor {
    background-color: #00A26C;
}

.m-three.colBGColor,
.m-nine.colBGColor {
    background-color: #008D7F;
}

.m-four.colBGColor,
.m-ten.colBGColor {
    background-color: #007681;
}

.m-five.colBGColor,
.m-eleven.colBGColor {
    background-color: #005F73;
}

.m-six.colBGColor,
.m-twelve.colBGColor {
    background-color: #2F4858;
}

/*GRID Offsetting*/

.offsetting {
    border: 1px solid #ccc;
    padding-bottom: 2%;
    margin: 1em 0;
}
/*END GRID*/