/*
S-red, default
M-orange
L-yellow
XL-green
*/

/*S - Red, default*/

.branch {
    /*Container*/
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

nav {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.leaf {
    /*Column*/
    width: 100%;
    float: left;
    padding: 1%;
    margin-top: 2%;
    box-sizing: border-box;
    background-color: crimson;
}

nav {
    background-color: lightgoldenrodyellow;
    margin: 0;
}

nav h1 {
    padding: 5px 0 5px 20px;
    font-family: 'Life Savers', cursive;
    margin: 0;
}

h1 {
    font-family: 'Life Savers', cursive;
}

h2,
h3,
h4 {
    font-family: 'Pangolin', cursive;
}

.clearIt {
    clear: both;
}

/*M - Medium, Orange*/

@media (min-width: 750px) {
    .branch {
        width: 85%;
        padding: 0;
    }
    .leaf {
        background-color: orange;
        margin-right: 2%;
    }
    /*    Last 'leaf' never has margin-right*/
    .leaf:last-child {
        margin-right: 0;
    }
    .m-one {
        width: 6.33333%;
    }
    .m-two {
        width: 14.66666667%;
    }
    .m-three {
        width: 23%;
    }
    .m-four {
        width: 31.33333333%;
    }
    .m-five {
        width: 39.66666667%;
    }
    .m-six {
        width: 48%;
    }
    .m-seven {
        width: 56.33333333%;
    }
    .m-eight {
        width: 64.66666667%;
    }
    .m-nine {
        width: 73%;
    }
    .m-ten {
        width: 81.33333333%;
    }
    .m-eleven {
        width: 89.66666667%;
    }
    .m-twelve {
        width: 98%;
    }
}

/*L*/

@media (min-width: 970px) {
    .branch {
        width: 80%;
    }
    .leaf {
        background-color: gold;
        margin-right: 2%;
    }
    /*    Last 'leaf' never has margin-right*/
    .leaf:last-child {
        margin-right: 0;
    }
    .l-one {
        width: 6.33333%;
    }
    .l-two {
        width: 14.66666667%;
    }
    .l-three {
        width: 23%;
    }
    .l-four {
        width: 31.33333333%;
    }
    .l-five {
        width: 39.66666667%;
    }
    .l-six {
        width: 48%;
    }
    .l-seven {
        width: 56.33333333%;
    }
    .l-eight {
        width: 64.66666667%;
    }
    .l-nine {
        width: 73%;
    }
    .l-ten {
        width: 81.33333333%;
    }
    .l-eleven {
        width: 89.66666667%;
    }
    .l-twelve {
        width: 98%;
    }
}

/****XL****/

@media (min-width: 1170px) {
    .branch {
        width: 80%;
    }
    .leaf {
        background-color: green;
        margin-right: 2%;
    }
    /*    Last 'leaf' never has margin-right*/
    .leaf:last-child {
        margin-right: 0;
    }
    .xl-one {
        width: 6.33333%;
    }
    .xl-two {
        width: 14.66666667%;
    }
    .xl-three {
        width: 23%;
    }
    .xl-four {
        width: 31.33333333%;
    }
    .xl-five {
        width: 39.66666667%;
    }
    .xl-six {
        width: 48%;
    }
    .xl-seven {
        width: 56.33333333%;
    }
    .xl-eight {
        width: 64.66666667%;
    }
    .xl-nine {
        width: 73%;
    }
    .xl-ten {
        width: 81.33333333%;
    }
    .xl-eleven {
        width: 89.66666667%;
    }
    .xl-twelve {
        width: 98%;
    }
}
