/*
S-red, default
M-orange
L-yellow
XL-green
*/

/*S - Red, default*/

.branch {
    /*Container*/
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

nav {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.leaf {
    /*Column*/
    width: 100%;
    float: left;
    padding: 1%;
    margin-top: 1%;
    box-sizing: border-box;
    border: 2px solid purple;
}

nav {
    background-color: lightgoldenrodyellow;
    margin: 0;
}

nav h1 {
    padding: 5px 0 5px 20px;
    font-family: 'Life Savers', cursive;
    margin: 0;
}

h1 {
    font-family: 'Life Savers', cursive;
}

h2,
h3,
h4 {
    font-family: 'Pangolin', cursive;
}

.clearIt {
    clear: both;
}

/*M - Medium, Orange*/

@media (min-width: 750px) {
    .branch {
        width: 85%;
        padding: 0;
    }
    .leaf {
        margin-right: 2%;
        border: 2px solid orange;
    }
    /*
    .leaf:first-child {
        margin-left: 0;
    }
*/
    .m-one.leaf {
        width: 4.66666666667%;
    }
    .m-two.leaf {
        width: 13.3333333333%;
    }
    .m-three.leaf {
        width: 22%;
    }
    .m-four.leaf {
        width: 30.6666666667%;
    }
    .m-five.leaf {
        width: 39.3333333333%;
    }
    .m-six.leaf {
        width: 48%;
    }
    .m-seven.leaf {
        width: 56.6666666667%;
    }
    .m-eight.leaf {
        width: 65.3333333333%;
    }
    .m-nine.leaf {
        width: 74.0%;
    }
    .m-ten.leaf {
        width: 82.6666666667%;
    }
    .m-eleven.leaf {
        width: 91.3333333333%;
    }
    .m-twelve.leaf {
        width: 100%;
        /*        margin-right: 0;*/
    }
}

/*L*/

@media (min-width: 970px) {
    .branch {
        width: 80%;
    }
    .leaf {
        margin-right: 2%;
        border: 2px solid goldenrod;
    }
    .l-one.leaf {
        width: 4.66666666667%;
    }
    .l-two.leaf {
        width: 13.3333333333%;
    }
    .l-three.leaf {
        width: 22%;
    }
    .l-four.leaf {
        width: 30.6666666667%;
    }
    .l-five.leaf {
        width: 39.3333333333%;
    }
    .l-six.leaf {
        width: 48%;
    }
    .l-seven.leaf {
        width: 56.6666666667%;
    }
    .l-eight.leaf {
        width: 65.3333333333%;
    }
    .l-nine.leaf {
        width: 74.0%;
    }
    .l-ten.leaf {
        width: 82.6666666667%;
    }
    .l-eleven.leaf {
        width: 91.3333333333%;
    }
    .l-twelve.leaf {
        width: 100%;
        margin-left: 0;
    }
}

/****XL****/

@media (min-width: 1170px) {
    .branch {
        width: 80%;
    }
    .leaf {
        margin-right: 2%;
        border: 2px solid green;
    }
    .xl-one.leaf {
        width: 4.66666666667%;
    }
    .xl-two.leaf {
        width: 13.3333333333%;
    }
    .xl-three.leaf {
        width: 22%;
    }
    .xl-four.leaf {
        width: 30.6666666667%;
    }
    .xl-five.leaf {
        width: 39.3333333333%;
    }
    .xl-six.leaf {
        width: 48%;
    }
    .xl-seven.leaf {
        width: 56.6666666667%;
    }
    .xl-eight.leaf {
        width: 65.3333333333%;
    }
    .xl-nine.leaf {
        width: 74.0%;
    }
    .xl-ten.leaf {
        width: 82.6666666667%;
    }
    .xl-eleven.leaf {
        width: 91.3333333333%;
    }
    .xl-twelve.leaf {
        width: 100%;
        margin-left: 0;
    }
}
