.branch {
    /*    Container*/
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.branch-full {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.leaf {
    /*Column*/
    width: 100%;
    float: left;
    padding: 1%;
    margin-top: 2%;
    box-sizing: border-box;
}

.leafBGColor {
    background-color: crimson;
}

.last-leaf {
    margin-bottom: 2%;
}

nav {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}

nav h1 {
    padding: 5px 0 0 20px;
    font-family: 'Life Savers', cursive;
    margin: 0;
}

.jumbotron {
    background-image: url('../images/37192741544_487d322480_k.jpg');
    /* Full height */
    width: 100%;
    height: 300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro {
    color: white;
    font-size: 1.25em;
}

.documentation {
    background-color: teal;
    padding: 0 30px;
}

.story {
    background-color: burlywood;
    padding: 0 30px;
}

footer {
    position: relative;
    width: 100%;
    height: 50px;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    text-align: center;
}

footer p {
    padding-top: 10px;
}

.btn {
    background-color: teal;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.clearIt {
    clear: both;
}

hr {
    border-bottom: 1px solid #ccc;
}

i {
    padding-right: 10px;
}

/*M - Medium, Orange*/

@media (min-width: 750px) {
    .branch {
        width: 85%;
        padding: 0;
    }
    .leaf {

        margin-right: 2%;
    }
    .leafBGColor {
        background-color: orange;
    }
    .leaf:last-child {
        margin-right: 0;
    }

    .m-one {
        width: 6.33333%;
    }
    .m-two {
        width: 14.66666667%;
    }
    .m-three {
        width: 23%;
    }
    .m-four {
        width: 31.33333333%;
    }
    .m-five {
        width: 39.66666667%;
    }
    .m-six {
        width: 48%;
    }
    .m-seven {
        width: 56.33333333%;
    }
    .m-eight {
        width: 64.66666667%;
    }
    .m-nine {
        width: 73%;
    }
    .m-ten {
        width: 81.33333333%;
    }
    .m-eleven {
        width: 89.66666667%;
    }
    .m-twelve {
        width: 98%;
    }
    .m-full {
        width: 100%;
    }
    /*    BEGIN M Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    
    */
    .m-space-one {
        margin-left: 8.33333%;
    }
    .m-space-two {
        margin-left: 16.66666667%;
    }
    .m-space-three {
        margin-left: 25%;
    }
    .m-space-four {
        margin-left: 33.33333333%;
    }
    .m-space-five {
        margin-left: 41.66666667%;
    }
    .m-space-six {
        margin-left: 50%;
    }
    .m-space-seven {
        margin-left: 58.33333333%;
    }
    .m-space-eight {
        margin-left: 66.66666667%;
    }
    .m-space-nine {
        margin-left: 75%;
    }
    .m-space-ten {
        margin-left: 83.33333333%;
    }
    .m-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END M Offsets*/
}

/*L - Large, Yellow*/

@media (min-width: 970px) {
    .branch {
        width: 80%;
    }
    .leaf {
        margin-right: 2%;
    }
    .leafBGColor {
        background-color: gold;
    }
    .leaf:last-child {
        margin-right: 0;
    }
    .l-one {
        width: 6.33333%;
    }
    .l-two {
        width: 14.66666667%;
    }
    .l-three {
        width: 23%;
    }
    .l-four {
        width: 31.33333333%;
    }
    .l-five {
        width: 39.66666667%;
    }
    .l-six {
        width: 48%;
    }
    .l-seven {
        width: 56.33333333%;
    }
    .l-eight {
        width: 64.66666667%;
    }
    .l-nine {
        width: 73%;
    }
    .l-ten {
        width: 81.33333333%;
    }
    .l-eleven {
        width: 89.66666667%;
    }
    .l-twelve {
        width: 98%;
    }
    /*    BEGIN L Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    */
    .l-space-zero {
        margin-left: 0;
    }
    .l-space-one {
        margin-left: 8.33333%;
    }
    .l-space-two {
        margin-left: 16.66666667%;
    }
    .l-space-three {
        margin-left: 25%;
    }
    .l-space-four {
        margin-left: 33.33333333%;
    }
    .l-space-five {
        margin-left: 41.66666667%;
    }
    .l-space-six {
        margin-left: 50%;
    }
    .l-space-seven {
        margin-left: 58.33333333%;
    }
    .l-space-eight {
        margin-left: 66.66666667%;
    }
    .l-space-nine {
        margin-left: 75%;
    }
    .l-space-ten {
        margin-left: 83.33333333%;
    }
    .l-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END L Offsets*/
}

/*XL - Extra Large, Green*/

@media (min-width: 1170px) {
    .branch {
        width: 80%;
    }
    .leaf {
        margin-right: 2%;
    }
    .leafBGColor {
        background-color: green;
    }
    .leaf:last-child {
        margin-right: 0;
    }
    .xl-one {
        width: 6.33333%;
    }
    .xl-two {
        width: 14.66666667%;
    }
    .xl-three {
        width: 23%;
    }
    .xl-four {
        width: 31.33333333%;
    }
    .xl-five {
        width: 39.66666667%;
    }
    .xl-six {
        width: 48%;
    }
    .xl-seven {
        width: 56.33333333%;
    }
    .xl-eight {
        width: 64.66666667%;
    }
    .xl-nine {
        width: 73%;
    }
    .xl-ten {
        width: 81.33333333%;
    }
    .xl-eleven {
        width: 89.66666667%;
    }
    .xl-twelve {
        width: 98%;
    }
    /*    BEGIN XL Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    
    */
    .xl-space-zero {
        margin-left: 0;
    }
    .xl-space-one {
        margin-left: 8.33333%;
    }
    .xl-space-two {
        margin-left: 16.66666667%;
    }
    .xl-space-three {
        margin-left: 25%;
    }
    .xl-space-four {
        margin-left: 33.33333333%;
    }
    .xl-space-five {
        margin-left: 41.66666667%;
    }
    .xl-space-six {
        margin-left: 50%;
    }
    .xl-space-seven {
        margin-left: 58.33333333%;
    }
    .xl-space-eight {
        margin-left: 66.66666667%;
    }
    .xl-space-nine {
        margin-left: 75%;
    }
    .xl-space-ten {
        margin-left: 83.33333333%;
    }
    .xl-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END XL Offsets*/
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

/*Headlines*/

h1 {
    font-family: 'Life Savers', cursive;
    margin: 1%;
    font-size: 2.5em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pangolin', cursive;
    margin: 0.25em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

/*Alignment*/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/*Font Styling*/

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

cite {
    font-style: italic;
}

code {
    color: crimson;
    font-family: 'Source Code Pro', monospace;
}

var {
    font-style: italic;
}

abbr {
    font-style: italic;
    text-decoration: underline;
}

address {
    display: block;
    font-style: italic;
}

blockquote {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 50px;
    margin-right: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/*
<!--inline text elements (cite, variables, etc.)
*/

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul li i {
    padding-right: 5px;
}

ul li {
    list-style-type: none;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: #1EAEDB;
}

a:hover {
    color: #0FA0CE;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

table {
    border-collapse: collapse;
    margin-bottom: 2%;
}

th {
    text-transform: uppercase;
    background-color: teal;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    /*Highlight table rows as user mouses over*/
    background-color: #f5f5f5;
}

.striped tr:nth-child(odd) {
    /*    adds color to odd rows*/
    background-color: #ccc;
}

.border-table {
    /*    adds borders on all sides of table*/
    border-top: 1px solid teal;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.table-responsive {
    /*    adds horizontal scroll bars to table in small screens*/
    overflow-x: auto;
}


/*CSS for Grid Documentation*/

.outlineB {
    background-color: rgba(255, 0, 0, .5);
}

.outlineS {
    background-color: rgba(255, 0, 0, .4);
}

.outlineL {
    background-color: rgba(255, 0, 0, .3);
}

/*END CSS for Grid Documentation*/

/* Buttons
––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}
*/

/* Forms
––––––––––––––––––––––––––––––––––––––––


input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}
–––––––––– */
