.branch {
    /*    Container*/
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.branch-full {
    /*    Full width container*/
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.leaf {
    /*Column*/
    width: 100%;
    float: left;
    padding: 1%;
    margin-top: 2%;
    box-sizing: border-box;
}

.leafBGColor {
    /*Colors columns for grids in documentation section*/
    background-color: crimson;
}

.last-leaf {
    margin-bottom: 2%;
}

nav {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
}

nav h1 {
    padding: 5px 0 0 20px;
    font-family: 'Life Savers', cursive;
    margin: 0;
}

.jumbotron {
    background-image: url('../images/37192741544_487d322480_k.jpg');
    /* Full height */
    width: 100%;
    height: 300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro {
    color: white;
    font-size: 1.25em;
}

.documentation {
    background-color: teal;
    padding: 0 30px;
}

.story {
    background-color: burlywood;
    padding: 0 30px;
}

footer {
    position: relative;
    width: 100%;
    height: 50px;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: lightgoldenrodyellow;
    text-align: center;
}

footer p {
    padding-top: 10px;
}

.clearIt {
    clear: both;
}

hr {
    border-bottom: 1px solid #ccc;
}

i {
    padding-right: 10px;
}

/*M - Medium, Orange*/

@media (min-width: 750px) {
    .branch {
        width: 85%;
        padding: 0;
    }
    .leaf {

        margin-right: 2%;
    }
    .leafBGColor {
        /*Colors columns for grids in documentation*/
        background-color: orange;
    }
    .leaf:last-child {
        margin-right: 0;
    }

    .m-one {
        width: 6.33333%;
    }
    .m-two {
        width: 14.66666667%;
    }
    .m-three {
        width: 23%;
    }
    .m-four {
        width: 31.33333333%;
    }
    .m-five {
        width: 39.66666667%;
    }
    .m-six {
        width: 48%;
    }
    .m-seven {
        width: 56.33333333%;
    }
    .m-eight {
        width: 64.66666667%;
    }
    .m-nine {
        width: 73%;
    }
    .m-ten {
        width: 81.33333333%;
    }
    .m-eleven {
        width: 89.66666667%;
    }
    .m-twelve {
        width: 98%;
    }
    .m-full {
        width: 100%;
    }
    /*    BEGIN M Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    
    */
    .m-space-one {
        margin-left: 8.33333%;
    }
    .m-space-two {
        margin-left: 16.66666667%;
    }
    .m-space-three {
        margin-left: 25%;
    }
    .m-space-four {
        margin-left: 33.33333333%;
    }
    .m-space-five {
        margin-left: 41.66666667%;
    }
    .m-space-six {
        margin-left: 50%;
    }
    .m-space-seven {
        margin-left: 58.33333333%;
    }
    .m-space-eight {
        margin-left: 66.66666667%;
    }
    .m-space-nine {
        margin-left: 75%;
    }
    .m-space-ten {
        margin-left: 83.33333333%;
    }
    .m-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END M Offsets*/
}

/*L - Large, Yellow*/

@media (min-width: 970px) {
    .branch {
        width: 80%;
    }
    .leaf {
        margin-right: 2%;
    }
    .leafBGColor {
        /*Colors columns for grids in documentation*/
        background-color: gold;
    }
    .leaf:last-child {
        margin-right: 0;
    }
    .l-one {
        width: 6.33333%;
    }
    .l-two {
        width: 14.66666667%;
    }
    .l-three {
        width: 23%;
    }
    .l-four {
        width: 31.33333333%;
    }
    .l-five {
        width: 39.66666667%;
    }
    .l-six {
        width: 48%;
    }
    .l-seven {
        width: 56.33333333%;
    }
    .l-eight {
        width: 64.66666667%;
    }
    .l-nine {
        width: 73%;
    }
    .l-ten {
        width: 81.33333333%;
    }
    .l-eleven {
        width: 89.66666667%;
    }
    .l-twelve {
        width: 98%;
    }
    /*    BEGIN L Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    */
    .l-space-zero {
        margin-left: 0;
    }
    .l-space-one {
        margin-left: 8.33333%;
    }
    .l-space-two {
        margin-left: 16.66666667%;
    }
    .l-space-three {
        margin-left: 25%;
    }
    .l-space-four {
        margin-left: 33.33333333%;
    }
    .l-space-five {
        margin-left: 41.66666667%;
    }
    .l-space-six {
        margin-left: 50%;
    }
    .l-space-seven {
        margin-left: 58.33333333%;
    }
    .l-space-eight {
        margin-left: 66.66666667%;
    }
    .l-space-nine {
        margin-left: 75%;
    }
    .l-space-ten {
        margin-left: 83.33333333%;
    }
    .l-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END L Offsets*/
}

/*XL - Extra Large, Green*/

@media (min-width: 1170px) {
    .branch {
        width: 80%;
    }
    .leaf {
        margin-right: 2%;
    }
    .leafBGColor {
        /*Colors columns for grids in documentation*/
        background-color: green;
    }
    .leaf:last-child {
        margin-right: 0;
    }
    .xl-one {
        width: 6.33333%;
    }
    .xl-two {
        width: 14.66666667%;
    }
    .xl-three {
        width: 23%;
    }
    .xl-four {
        width: 31.33333333%;
    }
    .xl-five {
        width: 39.66666667%;
    }
    .xl-six {
        width: 48%;
    }
    .xl-seven {
        width: 56.33333333%;
    }
    .xl-eight {
        width: 64.66666667%;
    }
    .xl-nine {
        width: 73%;
    }
    .xl-ten {
        width: 81.33333333%;
    }
    .xl-eleven {
        width: 89.66666667%;
    }
    .xl-twelve {
        width: 98%;
    }
    /*    BEGIN XL Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    
    */
    .xl-space-zero {
        margin-left: 0;
    }
    .xl-space-one {
        margin-left: 8.33333%;
    }
    .xl-space-two {
        margin-left: 16.66666667%;
    }
    .xl-space-three {
        margin-left: 25%;
    }
    .xl-space-four {
        margin-left: 33.33333333%;
    }
    .xl-space-five {
        margin-left: 41.66666667%;
    }
    .xl-space-six {
        margin-left: 50%;
    }
    .xl-space-seven {
        margin-left: 58.33333333%;
    }
    .xl-space-eight {
        margin-left: 66.66666667%;
    }
    .xl-space-nine {
        margin-left: 75%;
    }
    .xl-space-ten {
        margin-left: 83.33333333%;
    }
    .xl-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END XL Offsets*/
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

/*Headlines*/

h1 {
    font-family: 'Life Savers', cursive;
    margin: 1%;
    font-size: 2.5em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Pangolin', cursive;
    margin: 0.25em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

/*Text Alignment*/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/*Font Styling*/

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

cite {
    font-style: italic;
}

code {
    color: crimson;
    font-family: 'Source Code Pro', monospace;
}

var {
    font-style: italic;
}

abbr {
    font-style: italic;
    text-decoration: underline;
}

address {
    display: block;
    font-style: italic;
}

blockquote {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 50px;
    margin-right: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul li i {
    padding-right: 5px;
}

ul li {
    list-style-type: none;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: darkslategray;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

table {
    border-collapse: collapse;
    margin-bottom: 2%;
}

th {
    text-transform: uppercase;
    background-color: teal;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    /*Highlight table rows as user mouses over*/
    background-color: #f5f5f5;
}

.striped tr:nth-child(odd) {
    /*    adds color to odd numbered rows*/
    background-color: #ccc;
}

.border-table {
    /*    adds borders on all sides of table*/
    border-top: 1px solid teal;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.table-responsive {
    /*    adds horizontal scroll bars to table in small screens*/
    overflow-x: auto;
}


/*CSS for Grid Documentation*/

.outlineB {
    background-color: rgba(255, 0, 0, .5);
}

.outlineS {
    background-color: rgba(255, 0, 0, .4);
}

.outlineL {
    background-color: rgba(255, 0, 0, .3);
}

/*END CSS for Grid Documentation*/

/************** BUTTONS **********************/

.btn {
    border-radius: 12px;
    color: #FFF;
    padding: .3rem;
    background-color: #656565;
    border: solid 1px #656565;
    font-weight: bold;
    cursor: pointer;
}

.btn-XS {
    font-size: 12px;
}

.btn-S {
    font-size: 14px;
    padding: .5rem;
}

.btn-M {
    font-size: 16px;
    padding: .5rem;
}

.btn-L {
    font-size: 18px;
    padding: .75rem;
}

.sunshine {
    background-color: #E3D26F;
    border: solid 1px #CCBD63;
}

.sunshine:hover {
    background-color: #CCBD63;
    border: solid 1px #E3D46F;
}

.water {
    background-color: #CEE5F2;
    border: solid 1px #A4B7C1;
}

.water:hover {
    background-color: #A4B7C1;
    border: solid 1px #CEE5F2;
}

.plants {
    background-color: #588157;
    border: solid 1px #2C402B;
}

.plants:hover {
    background-color: #2C402B;
    border: solid 1px #588157;
}

.soil {
    background-color: #443730;
    border: solid 1px #060504;
}

.soil:hover {
    background-color: #060504;
    border: solid 1px #443730;
}

.btn.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}
