/*
.outlineB {
    background-color: rgba(255, 0, 0, .5);
}

.outlineS {
    background-color: rgba(255, 0, 0, .4);
}

.outlineL {
    background-color: rgba(255, 0, 0, .3);
}
.colBGColor {
    background-color: crimson;
}

.colBGColor {
    background-color: orange;
}

.colBGColor {
    background-color: gold;
}

.colBGColor {
    background-color: green;
}
*/
