.wrapper {
    /*    Container*/
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.wrapper-full {
    /*    Full width container*/
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    box-sizing: border-box;
}

.col {
    /*Column*/
    width: 100%;
    float: left;
    padding: 1%;
    margin-top: 2%;
    box-sizing: border-box;
}

/*Makes drop down open over jumbotron*/

header {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 50%;
}

.colBGColor {
    /*Colors columns for grids in documentation section*/
    background-color: crimson;
}

.last-col {
    margin-bottom: 2%;
}

.jumbotron {
    background-image: url('../images/37192741544_487d322480_k.jpg');
    /* Full height */
    width: 100%;
    height: 300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.intro {
    position: relative;
    top: 50px;
    color: white;
    font-size: 1.25em;
    padding: 0 2%;
}

.intro p {
    line-height: 1.3;
}

footer {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
}

.clearIt {
    clear: both;
}

hr {
    border-bottom: 1px solid #ccc;
}

i {
    padding-right: 10px;
}

/*M - Medium, Orange*/

@media (min-width: 750px) {
    .wrapper {
        width: 85%;
        padding: 0;
    }
    .col {
        margin-right: 2%;
    }
    .colBGColor {
        /*Colors columns for grids in documentation*/
        background-color: orange;
    }
    .col:last-child {
        margin-right: 0;
    }

    .m-one {
        width: 6.33333%;
    }
    .m-two {
        width: 14.66666667%;
    }
    .m-three {
        width: 23%;
    }
    .m-four {
        width: 31.33333333%;
    }
    .m-five {
        width: 39.66666667%;
    }
    .m-six {
        width: 48%;
    }
    .m-seven {
        width: 56.33333333%;
    }
    .m-eight {
        width: 64.66666667%;
    }
    .m-nine {
        width: 73%;
    }
    .m-ten {
        width: 81.33333333%;
    }
    .m-eleven {
        width: 89.66666667%;
    }
    .m-twelve {
        width: 98%;
    }
    .m-full {
        width: 100%;
    }
    /*    BEGIN M Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    
    */
    .m-space-one {
        margin-left: 8.33333%;
    }
    .m-space-two {
        margin-left: 16.66666667%;
    }
    .m-space-three {
        margin-left: 25%;
    }
    .m-space-four {
        margin-left: 33.33333333%;
    }
    .m-space-five {
        margin-left: 41.66666667%;
    }
    .m-space-six {
        margin-left: 50%;
    }
    .m-space-seven {
        margin-left: 58.33333333%;
    }
    .m-space-eight {
        margin-left: 66.66666667%;
    }
    .m-space-nine {
        margin-left: 75%;
    }
    .m-space-ten {
        margin-left: 83.33333333%;
    }
    .m-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END M Offsets*/
}

/*L - Large, Yellow*/

@media (min-width: 970px) {
    .wrapper {
        width: 85%;
    }
    .col {
        margin-right: 2%;
    }
    .colBGColor {
        /*Colors columns for grids in documentation*/
        background-color: gold;
    }
    .col:last-child {
        margin-right: 0;
    }
    .l-one {
        width: 6.33333%;
    }
    .l-two {
        width: 14.66666667%;
    }
    .l-three {
        width: 23%;
    }
    .l-four {
        width: 31.33333333%;
    }
    .l-five {
        width: 39.66666667%;
    }
    .l-six {
        width: 48%;
    }
    .l-seven {
        width: 56.33333333%;
    }
    .l-eight {
        width: 64.66666667%;
    }
    .l-nine {
        width: 73%;
    }
    .l-ten {
        width: 81.33333333%;
    }
    .l-eleven {
        width: 89.66666667%;
    }
    .l-twelve {
        width: 98%;
    }
    /*    BEGIN L Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    */
    .l-space-zero {
        margin-left: 0;
    }
    .l-space-one {
        margin-left: 8.33333%;
    }
    .l-space-two {
        margin-left: 16.66666667%;
    }
    .l-space-three {
        margin-left: 25%;
    }
    .l-space-four {
        margin-left: 33.33333333%;
    }
    .l-space-five {
        margin-left: 41.66666667%;
    }
    .l-space-six {
        margin-left: 50%;
    }
    .l-space-seven {
        margin-left: 58.33333333%;
    }
    .l-space-eight {
        margin-left: 66.66666667%;
    }
    .l-space-nine {
        margin-left: 75%;
    }
    .l-space-ten {
        margin-left: 83.33333333%;
    }
    .l-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END L Offsets*/
}

/*XL - Extra Large, Green*/

@media (min-width: 1170px) {
    .wrapper {
        width: 80%;
    }
    .col {
        margin-right: 2%;
    }
    .colBGColor {
        /*Colors columns for grids in documentation*/
        background-color: green;
    }
    .col:last-child {
        margin-right: 0;
    }
    .xl-one {
        width: 6.33333%;
    }
    .xl-two {
        width: 14.66666667%;
    }
    .xl-three {
        width: 23%;
    }
    .xl-four {
        width: 31.33333333%;
    }
    .xl-five {
        width: 39.66666667%;
    }
    .xl-six {
        width: 48%;
    }
    .xl-seven {
        width: 56.33333333%;
    }
    .xl-eight {
        width: 64.66666667%;
    }
    .xl-nine {
        width: 73%;
    }
    .xl-ten {
        width: 81.33333333%;
    }
    .xl-eleven {
        width: 89.66666667%;
    }
    .xl-twelve {
        width: 98%;
    }
    /*    BEGIN XL Offsets
    These numbers are based on calculation of 100 (the width) divided by 12 (grid), to equal 8.3333% per column.
    
    */
    .xl-space-zero {
        margin-left: 0;
    }
    .xl-space-one {
        margin-left: 8.33333%;
    }
    .xl-space-two {
        margin-left: 16.66666667%;
    }
    .xl-space-three {
        margin-left: 25%;
    }
    .xl-space-four {
        margin-left: 33.33333333%;
    }
    .xl-space-five {
        margin-left: 41.66666667%;
    }
    .xl-space-six {
        margin-left: 50%;
    }
    .xl-space-seven {
        margin-left: 58.33333333%;
    }
    .xl-space-eight {
        margin-left: 66.66666667%;
    }
    .xl-space-nine {
        margin-left: 75%;
    }
    .xl-space-ten {
        margin-left: 83.33333333%;
    }
    .xl-space-eleven {
        margin-left: 91.66666667%;
    }

    /*      END XL Offsets*/
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-size: 1em;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: #303030;
}

/*Headlines*/

h1 {
    font-family: 'Raleway', sans-serif;
    margin: 1%;
    font-size: 2.5em;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0.25em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

/*Text Alignment*/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/*Font Styling*/

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

cite {
    font-style: italic;
}

code {
    color: crimson;
    font-family: 'Source Code Pro', monospace;
}

var {
    font-style: italic;
}

abbr {
    font-style: italic;
    text-decoration: underline;
}

address {
    display: block;
    font-style: italic;
}

blockquote {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 50px;
    margin-right: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul li i {
    padding-right: 5px;
}

ul li {
    list-style-type: none;
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    color: darkslategray;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

table {
    border-collapse: collapse;
    margin-bottom: 2%;
}

th {
    text-transform: uppercase;
    background-color: teal;
    color: white;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    /*Highlight table rows as user mouses over*/
    background-color: #f5f5f5;
}

.striped tr:nth-child(odd) {
    /*    adds color to odd numbered rows*/
    background-color: #ccc;
}

.border-table {
    /*    adds borders on all sides of table*/
    border-top: 1px solid teal;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.table-responsive {
    /*    adds horizontal scroll bars to table in small screens*/
    overflow-x: auto;
}

/*CSS for Grid Documentation*/

.outlineB {
    background-color: rgba(255, 0, 0, .5);
}

.outlineS {
    background-color: rgba(255, 0, 0, .4);
}

.outlineL {
    background-color: rgba(255, 0, 0, .3);
}

/*END CSS for Grid Documentation*/

/*MARTA main.css*/

/*
fonts:
    font-family: Arial, sans-serif;
    font-family: 'Life Savers', cursive;
    font-family: 'Pangolin', cursive;

colors:
    sunshine: #E3D26F
    water: #CEE5F2
    plants: #588157
    soil: #443730
    Gray: #656565
*/

/****************** R E S E T *********************/

* {
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************* end reset *******************/

/**************** NO PRINT *******************/

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

/************** end no print ****************/

/************** CLEARFIX *********************/

.clearfix {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/************** end clearfix ****************/

/**************** QUICKFLOATS ***************/

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.align-center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*************** end quickfloats ************/

/*********** NAVIGATION SMALL SCREEN *************/

.menu {
    list-style-type: none;
    display: none;
}

.menuChild {
    background-color: #443730;
    text-align: center;
    border-bottom: solid 1px #E3D26F;
}

.menuChild:first-child {
    margin-top: .5em;
}

.menuChild:last-child {
    border-bottom: none;
}

.expandedMenu {
    padding: .75em 5em;
    display: block;
    color: #E3D26F;
    text-decoration: none;
}

.expandedMenu:active {
    background-color: #E3D26F;
    color: #443730;
}

nav input[type=checkbox] {
    display: none;
}

nav input[type=checkbox]:checked ~ ul.menu {
    display: block;
}

.showMenu {
    background-color: #E3D26F;
    text-align: right;
    padding: .25em;
    display: block;
    cursor: pointer;
}

.fa-bars {
    color: #443730;
    font-size: 1.1em;
}

/**************** end nav ************************/

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #E3D26F;
    height: 15%;
    padding: .5em 4em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 0.3);
}

header nav li:first-child {
    display: none;
}

header nav li:nth-child(2) {
    margin-top: .5em;
}

.logo {
    font-family: 'Life Savers', cursive;
    font-weight: 700;
    font-size: 1.4em;
}

main {
    width: 75%;
    margin: 0 auto;
    padding: .75em 0;
}

main h2 {
    font-family: 'Pangolin', cursive;
    color: #443730;
    font-size: 2em;
    padding-bottom: .3em;
}

main p {
    color: #656565;
    padding-bottom: .75em;
}

/************** BUTTONS **********************/

.btn {
    border-radius: 12px;
    color: #FFF;
    padding: .4rem;
    background-color: #656565;
    /*    border: solid 1px #656565;*/
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.65;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(153, 153, 153, 0.4);
    -moz-box-shadow: 3px 3px 5px 0px rgba(153, 153, 153, 0.4);
    box-shadow: 3px 3px 5px 0px rgba(153, 153, 153, 0.4);
}

.btn:active {
    opacity: 0.65;
}

.btn-xs {
    font-size: 50%;
    line-height: 1.5rem;
}

.btn-s {
    font-size: 75%;
    line-height: 1.85rem;
}

.btn-m {
    font-size: 100%;
    line-height: 2rem;
}

.btn-l {
    font-size: 125%;
    line-height: 2.5rem;
}

.btn.disabled {
    opacity: 0.45;
    cursor: not-allowed;
}

/**************** end buttons ****************/

/******** ACCORDION *************/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid 1px #ccc;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel-inside {
    padding: .75rem;
}

/************* end accordion ***************/

footer {
    -webkit-box-shadow: 0px -5px 5px 0px rgba(102, 102, 102, 0.3);
    -moz-box-shadow: 0px -5px 5px 0px rgba(102, 102, 102, 0.3);
    box-shadow: 0px -5px 5px 0px rgba(102, 102, 102, 0.3);
    background-color: #E3D26F;
}

footer p {
    font-size: 14px;
    color: #443730;
    text-align: center;
    padding: .3em;
}

footer span {
    font-family: 'Life Savers', cursive;
    font-weight: 700;
}

/*************** NAVIGATION LARGE SCREEN ***********************/

@media (min-width: 750px) {
    .menu {
        display: block;
        text-align: center;
    }
    .menuChild {
        background-color: #E3D26F;
        display: inline-block;
        border-bottom: none;
    }
    .menuChild:first-child {
        display: inline-block;
    }
    .expandedMenu {
        color: #443730;
        padding: 0 .5em;
        margin-top: -50px;
    }
    .expandedMenu:hover,
    .expandedMenu:active {
        color: #588157;
    }
    .showMenu {
        display: none;
    }
    /***************** end navigation *******************************/
    header {
        height: 2.5em;
    }
    .expandedMenu {
        font-weight: 700;
    }
    .fa-home {
        color: #588157;
    }
    .fa-home:hover,
    .fa-home:active {
        color: #443730;
    }
}

/* LOREN Nav+Jumbotron improvements*/

.downloadBtn {
    width: 80%;
    margin: 5% 10%;
}

header {
    /*Makes drop down open over jumbotron*/
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 50px;
}

/*LOREN END Nav+Jumbotron improvements*/


/*END MARTA main.css*/
